<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Infer.Compiler" publicKeyToken="e4813102a62778da" culture="neutral"/>
        <codeBase version="2.6.41029.1" href="file:///C:/Program Files/Infer.NET 2.6/Bin/Infer.Compiler.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infer.Runtime" publicKeyToken="e4813102a62778da" culture="neutral"/>
        <codeBase version="2.6.41029.1" href="file:///C:/Program Files/Infer.NET 2.6/Bin/Infer.Runtime.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="numberOfParameters" value="1"/>
    <add key="numberOfSamples" value="2000"/>
    <add key="burnIn" value="100"/>
    <add key="credibleIntervalProbability" value="0.95"/>
  </appSettings>
</configuration>
